language: python
python:
  - pypy
  - 2.6
  - 2.7
  - 3.4
  - 3.6
# command to install dependencies
install:
    - pip install -r requirements.txt
    - pip install -r requirements-test.txt
    - pip install coveralls
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2; fi
    - python setup.py install
script:
    - python travistest.py
after_success:
    - coveralls
